# Preprocessing Module

# Imports

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

In [3]:
pd.set_option('display.max_columns', 100)

In [4]:
import os
os.chdir(r'D:\Programas\GitHub\TFM')

# Load Data

In [5]:
df = pd.read_csv("data/Credit_Card_Outliers.csv")

In [6]:
display(df)

,CreditLimit,Gender,EducationLevel,Marriage,Age,RepaymentStatusSep,RepaymentStatusAug,RepaymentStatusJul,RepaymentStatusJun,RepaymentStatusMay,RepaymentStatusApr,BillAmountSep,BillAmountAug,BillAmountJul,BillAmountJun,BillAmountMay,BillAmountApr,PreviousPaymentSep,PreviousPaymentAug,PreviousPaymentJul,PreviousPaymentJun,PreviousPaymentMay,PreviousPaymentApr,Default
0,20000.0,Female,University,Married,24.0,Delay 2 Months,Delay 2 Months,Paid Duly,Paid Duly,NaN,NaN,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,120000.0,Female,University,Single,26.0,Paid Duly,Delay 2 Months,No Consumption,No Consumption,No Consumption,Delay 2 Months,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,90000.0,Female,University,Single,34.0,No Consumption,No Consumption,No Consumption,No Consumption,No Consumption,No Consumption,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,50000.0,Female,University,Married,37.0,No Consumption,No Consumption,No Consumption,No Consumption,No Consumption,No Consumption,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,50000.0,Male,University,Married,57.0,Paid Duly,No Consumption,Paid Duly,No Consumption,No Consumption,No Consumption,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,2009.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000.0,Male,High School,Married,39.0,No Consumption,No Consumption,No Consumption,No Consumption,No Consumption,No Consumption,22381.5,21200.0,20088.5,88004.0,31237.0,15980.0,8500.0,2009.0,5003.0,3047.0,5000.0,1000.0,0
29996,150000.0,Male,High School,Single,43.0,Paid Duly,Paid Duly,Paid Duly,Paid Duly,No Consumption,No Consumption,1683.0,1828.0,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,30000.0,Male,University,Single,37.0,Delay 2+ Months,Delay 2+ Months,Delay 2 Months,Paid Duly,No Consumption,No Consumption,3565.0,3356.0,2758.0,20878.0,20582.0,19357.0,0.0,0.0,1800.0,4200.0,2000.0,3100.0,1
29998,80000.0,Male,High School,Married,41.0,Delay 1 Month,Paid Duly,No Consumption,No Consumption,No Consumption,Paid Duly,-1645.0,78379.0,76304.0,52774.0,11855.0,48944.0,2100.0,3409.0,1178.0,1926.0,1500.0,1804.0,1
29999,50000.0,Male,University,Married,46.0,No Consumption,No Consumption,No Consumption,No Consumption,No Consumption,No Consumption,47929.0,48905.0,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

# Parameters

In [7]:
target = "Default"

# Preprocessing

In [8]:
from Preprocessing import Preprocessing

In [9]:
preprocessing = Preprocessing(
    target=target,
    missing_strategy_cat="most_frequent",
    categorical_encoding="onehot",
    scaler_method="minmax"
)

In [10]:
data = preprocessing.fit_transform(df)

Imputando valores ...
Codificando variables categóricas ...
Escalando variables numéricas ...

In [11]:
data.columns

Index(['CreditLimit', 'Age', 'BillAmountSep', 'BillAmountAug', 'BillAmountJul',
       'BillAmountJun', 'BillAmountMay', 'BillAmountApr', 'PreviousPaymentSep',
       'PreviousPaymentAug', 'PreviousPaymentJul', 'PreviousPaymentJun',
       'PreviousPaymentMay', 'PreviousPaymentApr', 'Default', 'Gender_Female',
       'Gender_Male', 'EducationLevel_Graduate School',
       'EducationLevel_High School', 'EducationLevel_Others',
       'EducationLevel_University', 'EducationLevel_Unknown',
       'Marriage_Married', 'Marriage_Others', 'Marriage_Single',
       'Marriage_Unknown', 'RepaymentStatusSep_Delay 1 Month',
       'RepaymentStatusSep_Delay 2 Months',
       'RepaymentStatusSep_Delay 2+ Months',
       'RepaymentStatusSep_No Consumption', 'RepaymentStatusSep_Paid Duly',
       'RepaymentStatusAug_Delay 1 Month', 'RepaymentStatusAug_Delay 2 Months',
       'RepaymentStatusAug_Delay 2+ Months',
       'RepaymentStatusAug_No Consumption', 'RepaymentStatusAug_Paid Duly',
       'RepaymentStatusJul_Delay 1 Month', 'RepaymentStatusJul_Delay 2 Months',
       'RepaymentStatusJul_Delay 2+ Months',
       'RepaymentStatusJul_No Consumption', 'RepaymentStatusJul_Paid Duly',
       'RepaymentStatusJun_Delay 1 Month', 'RepaymentStatusJun_Delay 2 Months',
       'RepaymentStatusJun_Delay 2+ Months',
       'RepaymentStatusJun_No Consumption', 'RepaymentStatusJun_Paid Duly',
       'RepaymentStatusMay_Delay 2 Months',
       'RepaymentStatusMay_Delay 2+ Months',
       'RepaymentStatusMay_No Consumption', 'RepaymentStatusMay_Paid Duly',
       'RepaymentStatusApr_Delay 2 Months',
       'RepaymentStatusApr_Delay 2+ Months',
       'RepaymentStatusApr_No Consumption', 'RepaymentStatusApr_Paid Duly'],
      dtype='object')

In [12]:
data.to_csv("data/Credit_Card_Preprocessing.csv", index=0)